In [14]:
path = 'C:/Users/isaac/Dropbox/Apps/ShareLaTeX/information_lawyer_quality'

C:/Users/isaac/Dropbox/Apps/ShareLaTeX/information_lawyer_quality/Raw/Captura Express Completo.csv

In [27]:
import pandas as pd 

# Read data 
captura_express = pd.read_csv(path + '/Raw/calif/Captura Express Completo.csv') 
captura_express = captura_express[['JUNTA', 'EXP', 'AÑO', ' Total Dictaminador ']]
captura_express[' Total Dictaminador '] = pd.to_numeric(captura_express[' Total Dictaminador '], errors='coerce')
captura_express.rename(columns={'JUNTA': 'junta', 'EXP': 'exp', 'AÑO': 'anio', ' Total Dictaminador ': 'totaldictaminador'}, inplace=True)
captura_express.head()

   junta  exp  anio  totaldictaminador
0      2    5  2011                NaN
1      2   13  2011                NaN
2      2   17  2011                NaN
3      2   38  2011           52033.43
4      2  190  2011                NaN

In [31]:
base_abogados = pd.read_csv(path + '/Raw/calif/base_abogados.csv') 
list(base_abogados.columns)

['nombre ',
 ' "numExpediente" ',
 ' "inicio" ',
 ' "fin" ',
 ' "preg1 calif" ',
 ' "preg1 justificacion" ',
 ' "preg2 calif" ',
 ' "preg2 justificacion" ',
 ' "preg3 calif" ',
 ' "preg3 justificacion" ',
 ' "preg4 calif" ',
 ' "preg4 justificacion" ',
 ' "preg5 calif" ',
 ' "preg5 justificacion" ',
 ' "calif global" ',
 ' "prediccion a" ',
 ' "prediccion b" ',
 ' "prediccion c" ',
 ' "prediccion d" ',
 ' "prediccion e" ',
 ' "prediccion monto1" ',
 ' "prediccion monto2" ',
 ' "prediccion seleccion 1" ',
 ' "prediccion seleccion 2" ']